{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add a Review</h3>

<div class="card-panel row">
    <form class="col s12" method="POST" action="{{ url_for('add_review') }}">
        <!-- review title -->
        <div class="row">
            <div class="input-field col s12">
                <input id="review_title" name="review_title" type="text" minlength="1" maxlength="50" class="validate"
                    required>
                <label for="review_title">Review title</label>
            </div>
        </div>
        <!-- review by -->
        <div class="row">
            <div class="input-field col s12">
                <input id="review_by" name="review_by" value="{{ session['user'] }}" type="text" minlength="1" maxlength="50" class="validate"
                    required readonly>
                <label for="review_by">Review by</label>
            </div>
        </div>
        <div class="row">
            <!-- game name -->
            <div class="input-field col s12">
                <input id="game_name" name="game_name" type="text" minlength="1" maxlength="50" class="validate" required>
                <label for="game_name">Game name</label>
            </div>
        </div>
        <!-- review description -->
        <div class="row">
            <div class="input-field col s12">
                <input id="review_desc" name="review_desc" type="text" minlength="1" maxlength="300"
                    class="validate" required>
                <label for="review_desc">Description</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="input-field col s12 center-align">
                <button class="btn-large indigo darken-4" type="submit">Add Review <i
                        class="fas fa-circle-plus right"></i></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}