{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Reviews</h3><br>

<div class="row">
    <div class="left">
        <a href="{{ url_for('add_review')}}" class="btn-large indigo darken-4">Add a review <i
                class="fas fa-circle-plus right"></i></a>
    </div>
</div>

{% for review in reviews %}

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content black-text">
                <strong class="card-title">{{ review.review_title }}</strong>
                <span>Review by: {{ review.review_by }}</span><br>
                <i>This review is for the game: {{ review.game_name }}</i>
            <div class="card-action black-text">
                <p>{{ review.review_desc }}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}