body {
    background-color: #1e1e1e;
    color: #e5e5e0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.flashes h4 {
    line-height: 2;
}

.card-games {
    min-height: 350px;
}

@media only screen and (max-width: 992px){
    nav .brand-logo {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 5vw;
    }
}
    